body {
    margin: 0;
    padding: 0;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d25b8838-dabc-4aa2-9600-8d17a2118fde/ddnzy1q-3a13bbe5-358e-47bf-aa4f-bc1ad414ff6d.png/v1/fill/w_1039,h_769,q_70,strp/one_piece_world_map_by_sharpsider_ddnzy1q-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDM4MCIsInBhdGgiOiJcL2ZcL2QyNWI4ODM4LWRhYmMtNGFhMi05NjAwLThkMTdhMjExOGZkZVwvZGRuenkxcS0zYTEzYmJlNS0zNThlLTQ3YmYtYWE0Zi1iYzFhZDQxNGZmNmQucG5nIiwid2lkdGgiOiI8PTU5MTUifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.BwwOKboNr1dkqfITDxZDuReE0AG85UTj1DX8wZrM4V0'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    color: rgb(1, 6, 34);
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    color:#fff
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1 {
    color: rgb(219, 143, 2);
    font-size: xx-large;
}

h2 {
    color: #0075b9;
    font-size: x-large;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
    font-size: xx-large;
}

h4 {
    color: rgb(108, 0, 151);
    font-size: large;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25;
    height: 10;
  }

blockquote {
    text-align: center;
    font-size: larger;
    color: blue;
  }

  p {
    background-color: rgb(231, 151, 1);
  }

